* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  background-color: #f2efef;
}
.card {
  width: 350px;
  height: 480px;
  background-color: white;
  padding: 35px;
  margin-top: 50px;
}
.card img {
  width: 250px;
  padding-left: 10px;
}
h1 {
  font-weight: 400;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  text-align: center;
}
h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  text-align: center;
  padding-top: 20px;
}
p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: gray;
  text-align: center;
  padding-top: 20px;
}
.ota {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.card:hover {
  background-color: #fcf2e5;
}
